<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rachiket.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:logo="@color/blue"
        android:supportsRtl="true">

        <activity android:name=".MainActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Sports"
            android:label="NUS Sports Match"
            />

        <activity android:name=".Calendar"
            android:label="NUS Sports Match"
            />

        <activity android:name=".Chats"
            android:label="NUS Sports Match"
            />
        <activity android:name=".Signup"
            android:label="NUS Sports Match"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            />
        <activity android:name=".menuAfterLogin"
            android:label="NUS Sports Match"/>
        <activity android:name=".ProfileDataPackage.ProfileData" />
        <activity android:name=".ProfileDataPackage.handlephoto"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>